<div class="container-fluid px-4">
    <div class="row my-3">
        <div class="alert alert-light">
            <h4 class="mb-0 text-primary text-center">ລາຍການສັ່ງຊື້ສິນຄ້າຈາກລູກຄ້າ</h4>
        </div>
        <div class="col-lg-12 px-0">
            <div class="card">
                <div class="card-body">

                    <table *ngIf="saleOnlineList.length" datatable [dtOptions]="dtOptions" class="table table-striped">
                        <thead class="bg-secondary">
                            <tr class="text-light">
                                <th>#</th>
                                <th>ເລກບິນການຂາຍ</th>
                                <th>ການຈ່າຍເງິນ</th>
                                <th>ຈັດສົ່ງ</th>
                                <th>ວັນທີ</th>
                                <th>ຜ່ານມາແລ້ວ</th>
                                <th class="text-center">ລູກຄ້າ</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of saleOnlineList; let i=index">
                                <td class="font-eng">{{i+1}}.</td>
                                <td class="font-eng">{{item.invoice_no}}</td>
                                <td>{{item.cash}}</td>
                                <td>{{item.delivery}}</td>
                                <td class="font-eng">{{item.date | date:'dd/MM/yyyy'}}</td>
                                <td> ມື້</td>
                                <td class="font-eng text-center">
                                    <button type="button" class="btn btn-sm btn-warning w-50 fw-bold" data-bs-toggle="modal" data-bs-target="#userModal" (click)="getUserData(item.customer)">
                                        <i class="fas fa-user"></i> {{item.customer}}
                                    </button>
                                </td>
                                <td width="80px">
                                    <button class="btn btn-sm text-secondary" data-bs-toggle="modal" data-bs-target="#detailModal">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm text-primary" data-bs-toggle="modal" data-bs-target="#modalReceipt" (click)="getReceipt(item.invoice_no)">
                                        <i class="fas fa-receipt"></i>
                                    </button>
                                    <!-- <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(item._id, i)">
                                    <i class="fas fa-trash-alt"></i>
                                </button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table *ngIf="!saleOnlineList.length" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ເລກບິນການຂາຍ</th>
                                <th>ການຈ່າຍເງິນ</th>
                                <th>ວັນທີຂາຍ</th>
                                <th>ຈັດສົ່ງ</th>
                                <th>ລູກຄ້າ</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="7" class="text-center">ບໍ່ມີຂໍ້ມູນ | No Data</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-primary" id="exampleModalLabel">ລາຍລະອຽດລູກຄ້າ</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ng-container *ngFor="let user of userData;">
                                <div class="text-center mb-2">
                                    <img src="assets/images/avatar.png" class="card-img-top" alt="avatar.png" style="height: 120px; width: 120px;">
                                </div>
                                <div class="col-md-12">
                                    <h5 class="mb-1 text-center text-primary">User ID: {{user.cus_id}}</h5>
                                    <h4 class="text-center">{{user.name}} {{user.surname}}</h4>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item font-eng">
                                            <i class="fa-solid fa-phone text-secondary"></i>&nbsp;ເບີໂທ: 020-{{user.phone}}
                                        </li>
                                        <li class="list-group-item font-eng">
                                            <i class="fas fa-envelope text-secondary"></i>&nbsp;email: {{user.email}}
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fa-solid fa-location-dot text-secondary"></i>&nbsp;ສະຖານທີ່ຈັດສົ່ງ: {{user.village}}, {{user.district}}, {{user.province}}
                                        </li>
                                    </ul>
                                    
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary fw-bold" data-bs-dismiss="modal" style="width: 120px;">
                        <i class="fas fa-circle-xmark"></i>&nbsp;Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-primary" id="exampleModalLabel">ລາຍລະອຽດການຂາຍ</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead class="table-secondary">
                            <tr>
                                <th>No.</th>
                                <th>ສິນຄ້າ</th>
                                <th>ລາຄາ</th>
                                <th>ຈຳນວນ</th>
                                <th>ລວມ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary fw-bold" data-bs-dismiss="modal" style="width: 120px;">
                        <i class="fas fa-circle-xmark"></i>&nbsp;Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalReceipt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-primary" id="exampleModalLabel">ອອກໃບບິນ</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary fw-bold" data-bs-dismiss="modal" style="width: 120px;">
                        <i class="fas fa-circle-xmark"></i>&nbsp;Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>