<div class="container-fluid px-4">
    <div class="bg-gray rounded shadow">
        <div class="col-md-2 px-2 py-2 ms-auto">
            <button class="btn btn-outline-primary" routerLink="/list-employees"><i class="fa-solid fa-angles-left"></i>&nbsp;ກັບຄືນ</button>
        </div>
    </div>
    <div class="card my-3 shadow">
        <div class="card-body">
            <div class="card-title">
                <h3 class="text-primary">ແກ້ໄຂຂໍ້ມູນພະນັກງານ</h3>
            </div>
            <form [formGroup]="updateEmpForm" (submit)="onUpdate()">
                <div class="row mt-4">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control font-eng" id="empno" placeholder="ລະຫັດພະນັກງານ" formControlName="emp_id" readonly/>
                                    <label for="empno">ລະຫັດພະນັກງານ</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="empname" placeholder="ຊື່" formControlName="name" />
                                    <label for="empname">ຊື່ພະນັກງານ</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="emplname" placeholder="ນາມສະກຸນພະນັກງານ" formControlName="surname" />
                                    <label for="emplname">ນາມສະກຸນ</label>
                                </div>
                            </div>
                            <!-- 3, ເພດ -->
                            <div class="col-md-6">
                                <p>ເພດ</p>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="gender1" formControlName="gender" value="ຊາຍ" />
                                            &nbsp;
                                            <label class="form-check-label" for="gender1">ຊາຍ</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input" id="gender2" formControlName="gender" value="ຍິງ" />
                                            &nbsp;
                                            <label class="form-check-label" for="gender2">ຍິງ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--ວັນເດືອນປີເກີດ-->
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control font-eng" id="date_birth" formControlName="dob"  />
                                    <label for="date_birth">ວັນ, ເດືອນ, ປີເກີດ </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control font-eng" id="emptel"
                                        placeholder="ພະນັກງານ" formControlName="phone"  />
                                    <label for="emptel">ເບີໂທ</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="empEmail" placeholder="ຊື່ພະນັກງານ" formControlName="email"   />
                                    <label for="empEmail">ອີເມວ</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="position" formControlName="position">
                                        <option disabled selected> --- ເລືອກຕຳແໜ່ງພະນັກງານ --- </option>
                                        <option *ngFor="let item of positionList;" value="{{item.ep_id}}">{{item.name}}</option>
                                    </select>
                                    <label for="position">ຕຳແໜ່ງພະນັກງານ</label>
                                </div>
                            </div>

                            <!--ທີ່ຢູ່-->
                            <div class="col-md-12">
                                <label class="ps-1">ທີ່ຢູ່ປັດຈຸບັນ</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="empProvince" placeholder="ແຂວງ" formControlName="province" />
                                            <label for="empProvince">ແຂວງຢູ່ປັດຈຸບັນ</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="empDistrict" placeholder="ເມືອງ" formControlName="district" />
                                            <label for="empDistrict">ເມືອງຢູ່ປັດຈຸບັນ</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="empVillage" placeholder="ບ້ານ" formControlName="village" />
                                            <label for="empVillage">ບ້ານຢູ່ປັດຈຸບັນ</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div *ngIf="!imagePrev" class="img-preview">
                                    <img [src]="updateEmpForm.value.image" onerror="this.src='assets/images/avatar.png'" [alt]="updateEmpForm.value.name" width="100%" />
                                </div>
                                <div class="img-preview" *ngIf="imagePrev !== '' && imagePrev">
                                    <img [src]="imagePrev" [alt]="updateEmpForm.value.name" width="100%" />
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mt-3">
                                    <input type="file" #filePicker (change)="onImagePicked($event)" formControlName="image"/>
                                    <button type="button" class="btn btn-secondary" (click)="filePicker.click()" >
                                        <i class="fas fa-image"></i>&nbsp;ເລືອກຮູບ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--ປຸ່ມຕ່າງ-->
                    <div class="col-md-3 mt-3">
                        <button type="submit" class="btn btn-outline-primary fw-bold" [disabled]="!updateEmpForm.valid">
                            <i class="fas fa-floppy-disk"></i>&nbsp;ບັນທຶກຂໍ້ມູນ
                        </button>
                    </div>
                    <div class="col-md-3 mt-3">
                        <button type="reset" class="btn btn-outline-secondary fw-bold">
                            <i class="fas fa-circle-xmark"></i>&nbsp;ຍົກເລີກ
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>