#prev-section{
    height: 460px;
    overflow: auto;
}
.card-body{
    height: 540px;
    overflow-y: auto;
}
tr,th,td{
    text-align: center;
    font-size: 16px;
}
td{
    vertical-align: baseline;
}