<div class="container-fluid px-4">
    <div class="bg-gray rounded shadow">
        <h3 class="m-0 py-3 text-center text-primary shadow">ລາຍການສິນຄ້າ</h3>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-2">
            <div class="d-flex justify-content-between align-items-center">
                <button onclick="window.location.reload(true)" class="btn btn-outline-success"><i class="fa-solid fa-rotate-right"></i></button>
                <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addproductModal">
                    <i class="fa-solid fa-circle-plus"></i> ເພີ່ມຂໍ້ມູນ
                </button> -->
                <button class="btn btn-outline-primary fw-bold" routerLink="/add-product">
                    <i class="fa-solid fa-circle-plus"></i> ເພີ່ມຂໍ້ມູນ
                </button>
            </div>
        </div>

        <ngx-spinner 
            bdColor = "rgba(0, 0, 0, 0.2)" 
            size = "medium" 
            color = "#fff" 
            type = "ball-scale-multiple" 
            [fullScreen] = "false"
        >
        </ngx-spinner>

        <div class="card-body">
            <div class="table-responsive-lg">
                <table *ngIf="productList.length" datatable [dtOptions]="dtOptions" class="table table-hover table-striped">
                    <thead class="bg-secondary text-light">
                        <tr role="row">
                            <th>#</th>
                            <th>ID</th>
                            <th>ສິນຄ້າ</th>
                            <th>ລາຄາຊື້</th>
                            <th>ລາຄາຂາຍ</th>
                            <th>ຈຳນວນ</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of productList; let i=index;">
                            <td class="font-eng">{{i+1}}.</td>
                            <td class="font-eng">{{product.pro_id}}</td>
                            <td>{{product.name}}</td>
                            <td class="font-eng">{{product.price | number}} LAK</td>
                            <td class="font-eng">{{product.price*1.05 | number}} LAK</td>
                            <td class="font-eng">{{product.stock_qty}}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <!-- <button class="btn-sm btn btn-success" data-bs-toggle="modal" data-bs-target="#productDetailModal">
                                    <i class="fas fa-circle-info"></i>
                                    </button> -->
                                    <button type="button" class="btn btn-sm text-secondary" routerLink="/product-view/{{product._id}}">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm text-warning" routerLink="/edit-product/{{product._id}}">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm text-danger" (click)="onDelete(product._id, i)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table *ngIf="!productList.length" class="table table-hover table-striped">
                <thead class="bg-secondary text-light">
                    <tr role="row">
                        <th>#</th>
                        <th>ID</th>
                        <th>ສິນຄ້າ</th>
                        <th>ລາຄາ</th>
                        <th>ຈຳນວນ</th>
                        <th>ປະເພດ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6" class="text-center">ບໍ່ມີຂໍ້ມູນ | No Data</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="card-footer">
            <div class="text-end">
                <button class="btn btn-outline-danger fw-bold" routerLink="/rep-products">
                    <i class="fas fa-file-lines"></i>&nbsp;ລາຍງານ
                </button>
            </div>
        </div>

    </div>
</div>
<!-- Add product Modal -->
<app-add-prodmodal></app-add-prodmodal>
<!-- Product detail modal -->
<app-pro-detlmodal></app-pro-detlmodal>