<div class="bg-warning bg-opacity-25">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">ປ່ຽນລະຫັດຜ່ານ</h3>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputUser" type="text" placeholder="username" />
                                        <label for="inputUser">ບັນຊີເຂົ້າໃຊ້</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputPassword" type="password" placeholder="username" />
                                        <label for="inputPassword">ປ້ອນລະຫັດຜ່ານໃໝ່</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="confirmPassword" type="password" placeholder="username" />
                                        <label for="confirmPassword">ຢືນຢັນລະຫັດຜ່ານໃໝ່</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" onclick="myFunction()" id="showCheck">
                                            <label class="form-check-label" for="showCheck">ສະແດງລະຫັດຜ່ານ</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div *ngIf="userIsAuthenticated" class="mt-3">
                                                <button class="btn btn-primary" routerLink="/profile"><i class="fa-solid fa-angle-left"></i> ກັບຄືນ</button>
                                            </div>
                                            <div *ngIf="!userIsAuthenticated" class="mt-3">
                                                <button class="btn btn-primary" routerLink="/login"><i class="fa-solid fa-angle-left"></i> ກັບຄືນ</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mt-3">
                                                <button type="submit" class="btn btn-warning">ຢືນຢັນ</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div *ngIf="userIsAuthenticated" class="card-footer text-center py-3">
                                <div class="small">ຖ້າທ່ານຍັງບໍ່ມີບັນຊີ ? >><a href="#register" class="text-primary" routerLink="/register"> ລົງທະບຽນ</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </main>
         </div>
    </div>        
</div>