<div class="bg-info bg-opacity-25">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center text-primary fw-bold my-2">ປ່ຽນລະຫັດຜ່ານ</h3>
                            </div>
                            <div class="card-body">
                                <form [formGroup]="changePassForm" (submit)="onUpdatePassword()">
                                    <div class="form-floating mb-3">
                                        <input class="form-control" formControlName="email" id="email" type="email" placeholder="username" required/>
                                        <label for="email">ອີເມວ</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" formControlName="password" id="pass" type="password" placeholder="username" required/>
                                        <label for="pass">ປ້ອນລະຫັດຜ່ານໃໝ່</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" formControlName="con_password" id="con_pass" type="password" placeholder="username" required/>
                                        <label for="con_pass">ຢືນຢັນລະຫັດຜ່ານໃໝ່</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" onclick="myFunction()" id="showCheck">
                                            <label class="form-check-label" for="showCheck">ສະແດງລະຫັດຜ່ານ</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 pe-lg-0">
                                            <div *ngIf="userIsAuthenticated" class="mt-3">
                                                <button type="button" class="btn btn-outline-secondary fw-bold" routerLink="/profile">
                                                    <i class="fa-solid fa-angles-left"></i> ກັບຄືນ
                                                </button>
                                            </div>
                                            <div *ngIf="!userIsAuthenticated" class="mt-3">
                                                <button type="button" class="btn btn-outline-secondary fw-bold" routerLink="/login">
                                                    <i class="fa-solid fa-angles-left"></i> ກັບຄືນ
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-4 px-lg-2">
                                            <div class="mt-3">
                                                <button type="button" class="btn btn-outline-info fw-bold text-dark" (click)="clearForm()">
                                                    <i class="fas fa-circle-xmark"></i> ລ້າງຟອມ
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-4 ps-lg-0">
                                            <div class="mt-3">
                                                <button type="submit" class="btn btn-outline-primary fw-bold">
                                                    <i class="fas fa-circle-check"></i> ຢືນຢັນ
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div *ngIf="userIsAuthenticated" class="card-footer text-center py-3">
                                <div class="small">ຖ້າທ່ານຍັງບໍ່ມີບັນຊີ ? >><a class="text-primary" routerLink="/register"> ລົງທະບຽນ</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </main>
         </div>
    </div>        
</div>