<div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetial" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDetial">ລາຍລະອຽດສິນຄ້າ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card border-0">
                            <img src="" width="100%" alt="product-image" />
                        </div>
                    </div>
                    <div class="col-md-6 ps-0">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="text-start">
                                    <h5 class="card-title">ນ້ຳຫົວເສືອ</h5>
                                    <p class="text-muted mb-4">8859313500200</p>
                                </div>
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <span>ລາຄາ</span><span></span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>ຈຳນວນໃນສຕັອກ</span><span></span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>ໝວດໝູ່</span><span></span>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <span>ຫົວໜ່ວຍ</span><span></span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between total font-weight-bold mt-4">
                                    <span>ລວມ</span><span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ປິດ</button>
            </div>
        </div>
    </div>
</div>