<div class="container-fluid d-flex justify-content-center">
    <div class="col-lg-4 col-md-8 col-sm-10 p-4">
        <div class="card">
            <div class="card-header bg-secondary">
                <div class="my-4 d-flex flex-column justify-content-center align-items-center">
                    <img src="../../../assets/images/avatar.png" height="120" width="120" class="bg-light" />
                </div>
            </div>
            <div class="card-body">
                <!-- <div *ngFor=""> -->
                    <h2 class="mt-3 text-primary text-center">ຜູ້ໃຊ້: </h2>
                    <h5 class="mt-3 mb-2 text-info text-center">ຊື່: </h5>
                    <h5 class="mt-2 text-info text-center">ອີເມວ: </h5>
                    <h5 class="mb-3 mt-2 text-info text-center">ເບີໂທ: </h5>
                    <div class=" d-flex justify-content-center mt-4 mb-3">
                        <button class="btn btn-primary" href="#" routerLink="/edit-profile" role="button"><i class="fas fa-user-edit"></i>&nbsp;ແກ້ໄຂຂໍ້ມູນສ່ວນຕົວ</button>
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>