<div class="container-fluid">
    <div class="card my-3 shadow">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <button onclick="window.location.reload(true)" class="btn btn-outline-success">
                    <i class="fa-solid fa-rotate-right"></i>
                </button>
                <button class="btn btn-outline-primary fw-bold" routerLink="/add-sale">
                    <i class="fa-solid fa-circle-plus"></i> ເພີ່ມຂໍ້ມູນ
                </button>
            </div>
        </div>
        <div class="card-body">
            <table *ngIf="saleList.length" datatable [dtOptions]="dtOptions" class="table table-hover table-striped">
                <thead class="bg-secondary text-light">
                    <tr role="row">
                        <th>#</th>
                        <th>ເລກບິນການຂາຍ</th>
                        <th>ປະເພດການຂາຍ</th>
                        <th>ການຈ່າຍເງິນ</th>
                        <th>ວັນທີຂາຍ</th>
                        <th>ຈັດສົ່ງ</th>
                        <th>ລູກຄ້າ</th>
                        <th>ພະນັກງານຂາຍ</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of saleList; let i=index">
                        <td class="font-eng">{{i+1}}.</td>
                        <td class="font-eng">{{item.invoice_no}}</td>
                        <td class="font-eng">{{item.sale_type}}</td>
                        <td>{{item.cash}}</td>
                        <td class="font-eng">{{item.date | date:'dd/MM/yyyy'}}</td>
                        <td>{{item.delivery}}</td>
                        <td *ngIf="item.customer || !item.customer" class="font-lao">{{item.customer || 'ລູກຄ້າທົ່ວໄປ'}}</td>
                        <td class="font-eng">{{item.employee}}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <!-- <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(item._id, i)">
                                    <i class="fas fa-trash-alt"></i>
                                </button> -->
                            </div>
                            <button type="button" class="btn btn-sm text-primary" data-bs-toggle="modal" data-bs-target="#modalReceipt" (click)="getReceipt(item.invoice_no)">
                                <i class="fas fa-receipt"></i>
                            </button>
                            <button type="button" class="btn btn-sm text-secondary" routerLink="/sale/{{item.invoice_no}}" data-bs-toggle="tooltip" data-bs-placement="right" title="ເບິ່ງລາຍລະອຽດ">
                                <i class="fas fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table *ngIf="!saleList.length" class="table table-hover table-striped">
                <thead class="bg-secondary text-light">
                    <tr role="row">
                        <th>#</th>
                        <th>ເລກບິນການຂາຍ</th>
                        <th>ປະເພດການຂາຍ</th>
                        <th>ການຈ່າຍເງິນ</th>
                        <th>ວັນທີຂາຍ</th>
                        <th>ຈັດສົ່ງ</th>
                        <th>ລູກຄ້າ</th>
                        <th>ພະນັກງານຂາຍ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="10" class="text-center">ບໍ່ມີຂໍ້ມູນ | No Data</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="card-footer">
            <div class="text-end">
                <button class="btn btn-outline-danger fw-bold" routerLink="/rep-sales">
                    <i class="fas fa-file-lines"></i>&nbsp;ລາຍງານ
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalReceipt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-primary" id="exampleModalLabel"></h4>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-3">
                    <div id="printSection" style="font-size: 12px;">
                        <div class="mt-3 mb-4 text-center">
                            <img src="assets/images/logo.png" width="80px" alt="ຮູບໂລໂກ້ຮ້ານ"><br>
                            ຮ້ານ SS ຊີ້ນສະໄລ້ ແລະ ອາຫານແຊ່ແຂງ<br>
                            ບ.ດົງຄຳຊ້າງ, ມ.ຫາດຊາຍຟອງ, ນະຄອນຫຼວງວຽງຈັນ
                        </div>
                        <div class="row my-3">
                            <div class="col-sm-8 font-lao" style="font-size: 7px;">
                                ເລກບິນ: {{receiptno}}<br>
                                ລູກຄ້າ: {{customer}}<br>
                                ພະນັກງານຂາຍ: {{employee}}
                            </div>
                            <div class="col-sm-4 font-lao text-sm-end" style="font-size: 7px;">
                                ວັນທີ: {{ dateTime | date: 'dd/MM/yyyy'}}<br>
                                ເວລາ: {{ dateTime | date: 'HH:mm:ss'}}
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="font-lao text-center fs-5 fw-bold">ໃບບິນເກັບເງິນ</p>
                        </div>
                        <table *ngIf="listReceipt.length" class="table">
                            <thead>
                                <tr>
                                    <th>ລາຍການ</th>
                                    <th class="text-center">ລາຄາ</th>
                                    <th class="text-center">ລວມ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listReceipt;">
                                    <td>{{item.product}}</td>
                                    <td class="font-lao text-center">{{item.qty}} x {{item.price | number}}</td>
                                    <td class="font-lao text-center">{{item.price*item.qty | number}} ກີບ</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="fw-bold fs-6">ຈຳນວນທັງໝົດ:</td>
                                    <td class="font-lao fw-bold text-center fs-6">{{grandQty}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="fw-bold fs-6">ລວມມູນຄ່າສິນຄ້າ:</td>
                                    <td class="font-lao fw-bold text-center fs-6">{{grandTotal | number}} ກີບ</td>
                                </tr>
                            </tfoot>
                        </table>
                        ============================
                        <h5 class="text-center">ຂອບໃຈ | Thank You</h5>
                    </div>
                    
                </div>

                <div class="modal-footer">
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-warning fw-bold text-dark" [printStyle]="{ body:{
                            'width': '80mm',
                            'height': '100%',
                            'position': 'absolute',
                            'margin':'0',
                            'padding':'0'
                        }}" [useExistingCss]="true" printSectionId="printSection" ngxPrint data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-print"></i> ພິມໃບບິນ
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>