<div class="container-fluid px-4">
    <!-- <div class="alert alert-primary alert-dismissible fade show mt-3 py-2" role="alert">
        <h4 class="my-1 text-center fw-bold">ຈັດການການສັ່ງຊື້</h4>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> -->
    <div class="card shadow mt-3">
        <div class="card-header p-2">
            <div class="d-flex justify-content-between">
                <h4 class="my-1 text-center fw-bold text-primary">
                    <i class="fas fa-cart-arrow-down"></i>&nbsp;ຈັດການການສັ່ງຊື້
                </h4>
                <!-- Button trigger modal -->
                <div>
                    <button type="button" class="me-2 btn btn-outline-success fw-bold" data-bs-toggle="modal" data-bs-target="#modalProduct">
                        <i class="fa-solid fa-cart-arrow-down"></i>&nbsp;ເລືອກສິນຄ້າ
                    </button>
                    <button type="button" class="btn btn-outline-secondary fw-bold" routerLink="/order-list">
                        <i class="fa-solid fa-eye"></i>&nbsp;ສະແດງຂໍ້ມູນການສັ່ງຊື້
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <fieldset class="border border-primary px-3 pb-2 rounded-3">
                        <legend class="float-none w-auto p-2 h4 text-primary">ລາຍການສິນຄ້າ</legend>
                        
                            <div class="row justify-content-start">
                                <div class="col-md-5 col-lg-4 col-xl-5 text-right">
                                    
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th width="15%" class="ps-0 fw-bold">ເລກທີໃບສັ່ງຊື້:</th>
                                                    <td width="20%" class="ps-0">{{order_no}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width:30%;">ສິນຄ້າ</th>
                                            <th style="width:30%;">ລາຄາ</th>
                                            <th style="width:15%;">ຈຳນວນ</th>
                                            <th style="width:25%;">ລວມ</th>
                                            <th style="width:5%;">Option</th>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of orderItems;">
                                            <td style="width:30%;">{{item.name}}</td>
                                            <td class="font-eng" style="width:30%;">{{item.price.toLocaleString()}} LAK</td>
                                            <td class="ps-2 font-eng" style="width: 15%;">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-sm btn-primary fw-bold" (click)="decrease(item.pro_id, item.qty)">
                                                        <i class="fas fa-circle-minus"></i>
                                                    </button>
                                                    <span class="my-0 py-1 mx-2 font-eng">{{item.qty}}</span>
                                                    <button type="button" class="btn btn-sm btn-primary fw-bold" (click)="increase(item.pro_id, item.qty)">
                                                        <i class="fas fa-circle-plus"></i>
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="font-eng" style="width:25%;">{{item.price * item.qty | number}} LAK</td>
                                            <td style="width: 5%;">
                                                <button type="button" class="btn btn-sm btn-danger w-100" (click)="removeItem(item.pro_id)">
                                                    <i class="fas fa-xmark"></i> 
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>                                        
                                </table>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-md-5 col-lg-4 col-xl-5 text-right">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th class="ps-0 fw-bold">ລວມທັງໝົດ:</th>
                                                    <td class="font-eng">{{grandTotal | number}} LAK</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                    </fieldset>
                </div>
                <div class="ps-lg-0 col-lg-4 col-md-12">
                    <fieldset class="border border-primary px-3 pb-2 rounded-3">
                        <legend class="float-none w-auto p-2 h4 text-primary">ເພີ່ມຂໍ້ມູນການສັ່ງຊື້</legend>
                        <form [formGroup]="orderDataForm" (submit)="onSaveOrderData()">
                            <div class="form-floating">
                                <select formControlName="supplier" id="sup" class="form-select">
                                    <option selected disabled value="null"> --- ລະບຸຜູ້ສະໜອງ --- </option>
                                    <option *ngFor="let sup of supplierList;" [value]="sup.sup_id">{{sup.name}}</option>
                                </select>
                                <label for="sup">ເລືອກຜູ້ສະໜອງ</label>
                            </div>
                            <div class="form-floating mt-3">
                                <select formControlName="employee" id="emp" class="form-select">
                                    <option disabled selected value="null"> --- ລະບຸພະນັກງານ --- </option>
                                    <option *ngFor="let emp of empList;" [value]="emp.emp_id">{{emp.name}}</option>
                                </select>
                                <label for="emp">ພະນັກງານຜູ້ສັ່ງຊື້</label>
                            </div>
                            <div class="form-floating mt-3">
                                <input type="text" formControlName="order_no" id="ono" class="form-control font-eng" placeholder="order" readonly>
                                <label for="ono">ເລກທີໃບສັ່ງຊື້</label>
                            </div>
                            <div class="form-floating mt-3">
                                <input type="date" formControlName="date" id="dt" class="form-control font-eng" placeholder="order">
                                <label for="dt">ວັນທີສັ່ງຊື້</label>
                            </div>
                            <div class="form-floating mt-3">
                                <select formControlName="status" id="sts" class="form-select">
                                    <option disabled selected value="null"> --- ລະບຸສະຖານະ --- </option>
                                    <option value="ບໍ່ອະນຸມັດ">ບໍ່ອະນຸມັດ</option>
                                    <option value="ຖ້າອະນຸມັດ">ລໍຖ້າການອະນຸມັດ</option>
                                    <option value="ອະນຸມັດ">ອະນຸມັດການສັ່ງຊື້</option>
                                </select>
                                <label for="sts">ກະລຸນາລະບຸສະຖານະ</label>
                            </div>
                            <div class="my-3">
                                <button type="submit" class="btn btn-primary" style="width: 120px;" [disabled]="orderDataForm.invalid">
                                    <i class="fas fa-circle-plus"></i>&nbsp;ບັນທຶກຂໍ້ມູນ
                                </button>
                                <button type="reset" class="ms-2 btn btn-warning" style="width: 120px;">
                                    <i class="fa-solid fa-circle-xmark"></i>&nbsp;ຍົກເລີກ
                                </button>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <button type="button" class="btn btn-primary" style="width: 180px;" (click)="onSaveOrderDetail(orderItems)">
                    <i class="fas fa-floppy-disk"></i> ບັນທຶກລາຍການ
                </button>
                <button type="button" class="ms-2 btn btn-danger" style="width: 180px;" (click)="emptyItems()">
                    <i class="fas fa-trash-alt"></i> ລ້າງລາຍການ
                </button>
                <button type="button" class="ms-2 btn btn-warning" style="width: 180px;" onclick="window.location.reload(true)">
                    <i class="fa-solid fa-arrows-rotate"></i> ໂຫຼດຄືນໃໝ່
                </button>
            </div>
        </div>
    </div>
    

    <!-- Product Modal -->
    <div class="modal fade" id="modalProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-primary" id="exampleModalLabel">ລາຍການສິນຄ້າທັງໝົດ</h4>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-3">
                    <div class="table-responsive">
                        <table *ngIf="productList.length" class="table" datatable>
                            <thead>
                                <tr>
                                    <th>ສິນຄ້າ</th>
                                    <th>ລາຍການ</th>
                                    <th>ລາຄາ</th>
                                    <th width="17%">ດຳເນີນການ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of productList;">
                                    <td>
                                        <img [src]="item.image" alt="{{item.name}}" class="img-fluid" width="90px">
                                    </td>
                                    <td>{{item.name}}</td>
                                    <td class="font-eng">{{item.price | number}} LAK</td>
                                    <td width="17%">
                                        <button type="button" class="btn btn-outline-info text-dark" (click)="chooseItem(item)">
                                            <i class="fas fa-circle-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>