<nav class="sb-sidenav accordion sb-sidenav-light bg-primary" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading mx-auto">
                <img src="assets/images/logo.png" alt="logo.png" width="80">
            </div>

            <div class="mx-2 text-light"><hr></div>
            <h5 class="nav-link text-light fw-bold" routerLink="/home">
                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                Dashboard
            </h5>

            <div class="mx-2 text-light"><hr></div>

            <!-- Data -->
            <a class="nav-link collapsed text-light" data-bs-toggle="collapse" data-bs-target="#collapseData" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-database"></i></div>
                ຈັດການຂໍ້ມູນ
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseData" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav *ngIf="userIsAuthenticated" class="sb-sidenav-menu-nested nav">
                    <a class="nav-link text-light" routerLink="/list-product">ຂໍ້ມູນສິນຄ້າ</a>
                    <a class="nav-link text-light" routerLink="/categories">ຂໍ້ມູນໝວດໝູ່ສິນຄ້າ</a>
                    <a class="nav-link text-light" routerLink="/types">ຂໍ້ມູນປະເພດສິນຄ້າ</a>
                    <a class="nav-link text-light" routerLink="/units">ຂໍ້ມູນຫົວໜ່ວຍສິນຄ້າ</a>
                    <a class="nav-link text-light" routerLink="/list-employees">ຂໍ້ມູນພະນັກງານ</a>
                    <a class="nav-link text-light" routerLink="/positions">ຂໍ້ມູນຕຳແໜ່ງພະນັກງານ</a>
                    <a class="nav-link text-light" routerLink="/supplier">ຂໍ້ມູນຜູ້ສະໜອງ</a>
                    <a class="nav-link text-light" routerLink="/list-cus">ຂໍ້ມູນລູກຄ້າ</a>
                </nav>
            </div>

            <!-- Report -->
            <a class="nav-link collapsed text-light" data-bs-toggle="collapse" data-bs-target="#collapseReport" aria-expanded="false" aria-controls="collapsePages">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-print"></i></div>
                ພິມລາຍງານ
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseReport" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                <nav *ngIf="userIsAuthenticated" class="sb-sidenav-menu-nested nav">
                    <a class="nav-link text-light" routerLink="/rep-sales">ລາຍງານຂໍ້ມູນການຂາຍ</a>
                    <a class="nav-link text-light" routerLink="/rep-order">ລາຍງານການສັ່ງຊື້ສິນຄ້າ</a>
                    <a class="nav-link text-light" routerLink="/rep-products">ລາຍງານຂໍ້ມູນສິນຄ້າ</a>
                    <a class="nav-link text-light" routerLink="/rep-emps">ລາຍງານຂໍ້ມູນພະນັກງານ</a>
                    <a class="nav-link text-light" routerLink="/rep-customers">ລາຍງານຂໍ້ມູນລູກຄ້າ</a>
                    <a class="nav-link text-light" routerLink="/rep-imp">ລາຍງານສິນຄ້ານຳເຂົ້າ</a>
                    <a class="nav-link text-light" routerLink="/income-expanse">ລາຍງານລາຍຮັບ-ລາຍຈ່າຍ</a>
                </nav>
            </div>

            <!-- Service -->
            <a class="nav-link collapsed text-light" data-bs-toggle="collapse" data-bs-target="#collapseServices" aria-expanded="false" aria-controls="collapseServices">
                <div class="sb-nav-link-icon"><i class="fas fa-cash-register"></i></div>
                ບໍລິການ
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseServices" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                <nav *ngIf="userIsAuthenticated" class="sb-sidenav-menu-nested nav">
                    <a class="nav-link text-light" routerLink="/add-sale">ຈັດການການຂາຍ</a>
                    <a class="nav-link text-light" routerLink="/pos">ຂາຍໜ້າຮ້ານ</a>
                    <a class="nav-link text-light" routerLink="/online">ຂາຍອອນລາຍ</a>
                </nav>
            </div>

            <!-- Import and order -->
            <a class="nav-link collapsed text-light" data-bs-toggle="collapse" data-bs-target="#collapseImp" aria-expanded="false" aria-controls="collapseImp">
                <div class="sb-nav-link-icon"><i class="fas fa-shopping-cart"></i></div>
                ການສັ່ງຊື້ ແລະ ນຳເຂົ້າ
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseImp" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                <nav *ngIf="userIsAuthenticated" class="sb-sidenav-menu-nested nav">
                    <a class="nav-link text-light" routerLink="/order-detail">ຈັດການການສັ່ງຊື້</a>
                    <a class="nav-link text-light" routerLink="/import">ຈັດການຂໍ້ມູນການນຳເຂົ້າ</a>
                </nav>
            </div>

            <!-- About -->
            <a class="nav-link collapsed text-light" data-bs-toggle="collapse" data-bs-target="#collapseAbout" aria-expanded="false" aria-controls="collapseImp">
                <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>
                ກ່ຽວກັບພວກເຮົາ
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseAbout" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link text-light" routerLink="/about">ຂໍ້ມູນຕິດຕໍ່</a>
                </nav>
            </div>
        </div>
    </div>
</nav>