<div class="container-fluid px-4">
    <ngx-spinner 
        bdColor = "rgba(0, 0, 0, 0.2)" 
        size = "medium" 
        color = "#fff" 
        type = "ball-scale-multiple" 
        [fullScreen]="true"
    >
    </ngx-spinner>
    <div class="bg-gray row rounded shadow mt-3">

        <div class="bg-gray rounded shadow d-flex justify-content-between align-items-center">
            <h2 class="m-0 py-3 text-primary">ໜ້າຫຼັກ</h2>
            <p class="time m-0 text-danger">{{ dateTime | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
        </div>

        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-light mb-3">
                <div class="card-body">
                    <p class="m-0">ຈຳນວນສິນຄ້າໃນສຕັອກ</p>
                    <div class="d-flex justify-content-between">
                        <h2 class="mt-2 fw-bold text-light font-eng">{{inStock.length}} <small class="fs-5">ລາຍການ</small></h2>
                        <i class="fas fa-box fa-3x text-gray-500"></i>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between border-0">
                    <a class="small text-light stretched-link" routerLink="/list-product">ເບິ່ງລາຍລະອຽດ</a>
                    <div class="small text-light">
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="ps-lg-0 col-xl-3 col-md-6">
            <div class="card bg-info text-dark mb-3" id="sea-card">
                <div class="card-body">
                    <p class="m-0 text-black">ຈຳນວນສະມາຊິກ</p>
                    <div class="d-flex justify-content-between">
                        <h2 class="mt-2 fw-bold font-eng">{{userList.length}} <small class="fs-5">ບັນຊີ</small></h2>
                        <i class="fas fa-users fa-3x text-dark"></i>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between border-0">
                    <a class="small text-light stretched-link" routerLink="/list-cus">ເບິ່ງລາຍລະອຽດ</a>
                    <div class="small">
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="ps-lg-0 col-xl-3 col-md-6">
            <div class="card bg-success text-light mb-3" id="green-card">
                <div class="card-body">
                    <p class="m-0">ລາຍຮັບຂອງເດືອນນີ້</p>
                    <div class="d-flex justify-content-between">
                        <h2 class="mt-2 fw-bold font-eng">{{monthIncome.toLocaleString()}} <small class="fs-5">ກີບ</small></h2>
                        <i class="fas fa-chart-line fa-3x text-gray-500"></i>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between border-0">
                    <a class="small text-light stretched-link" routerLink="/sale-manage">ເບິ່ງລາຍລະອຽດ</a>
                    <div class="small text-light">
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="ps-lg-0 col-xl-3 col-md-6">
            <div class="card bg-danger text-light mb-3" id="red-card">
                <div class="card-body">
                    <p class="m-0">ລາຍຈ່າຍຂອງເດືອນນີ້</p>
                    <div class="d-flex justify-content-between">
                        <h2 class="mt-2 fw-bold font-eng">{{monthExpanse.toLocaleString()}} <small class="fs-5">ກີບ</small></h2>
                        <i class="fas fa-chart-area fa-3x text-gray-500"></i>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between border-0">
                    <a class="small text-light stretched-link" routerLink="/import">ເບິ່ງລາຍລະອຽດ</a>
                    <div class="small text-light">
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row bg-gray rounded shadow">
        <div class="col-md-6 my-3">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title my-1 text-primary">ລາຍຮັບແຕ່ລະມື້</h4>
                    </div>
                </div>
                <div class="card-body" id="chart-setion">
                    <div class="row">
                        <div class="col-md-12 col-ms-12">
                            <app-charts></app-charts>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-3 ps-lg-1">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <h4 class="card-title my-1 text-primary">ລາຍຈ່າຍແຕ່ລະມື້</h4>
                    </div>
                </div>
                <div class="card-body" id="chart-setion">
                    <div class="row">
                        <div class="col-md-12 col-ms-12">
                            <app-charts-exp></app-charts-exp>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>