<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center text-primary fw-bold my-2">ແກ້ໄຂຂໍ້ມູນສ່ວນຕົວ</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="updateForm" (submit)="onUpdateProfile()">
                        <div class="row mb-3 mt-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input class="form-control" formControlName="name" id="inputName" type="text" placeholder="Name" required />
                                    <label for="inputName">ຊື່</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input class="form-control" formControlName="username" id="inputUname" type="text" placeholder="Username" readonly />
                                    <label for="inputUname">ບັນຊີເຂົ້າໃຊ້</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input class="form-control" formControlName="email" id="inputEmail" type="email" placeholder="Email" required />
                                    <label for="inputEmail">ອີເມວ</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input class="form-control font-eng" formControlName="phone" id="inputPhone" type="text" placeholder="Phone" required />
                                    <label for="inputPhone">ເບີໂທ</label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-0">
                            <div class="row">
                                <div class="col-md-4 ms-md-auto ms-lg-auto">
                                    <button type="submit" class="btn btn-outline-primary fw-bold w-100">
                                        <i class="fas fa-check"></i> ຢືນຢັນການແກ້ໄຂ
                                    </button>
                                </div>
                                <div class="col-md-4 me-md-auto me-lg-auto">
                                    <button type="reset" class="btn btn-outline-secondary fw-bold w-100">
                                        <i class="fas fa-circle-xmark"></i> ຍົກເລີກ
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="d-block">
                        <a class="btn btn-outline-secondary fw-bold" routerLink="/profile">
                            <i class="fa-solid fa-angles-left"></i>&nbsp; ກັບຄືນໜ້າໂປຣໄຟລ໌
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>